body{
    background-color: rgb(208, 228, 226);
    color: rgba(12, 11, 7, 0.616);
    margin: 0;
}
.int{
    background-color: rgb(208, 228, 226);
    color: rgba(12, 11, 7, 0.616);
    height: 10cm;
    font-family:monospace ;
    display :flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: black 2, 5, 5;
}
.site-header{
    background-color: rgb(208, 228, 226);
    color: rgba(12, 11, 7, 0.616);
    height: 10cm;
    font-family:monospace ;
    display :flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.site-header ul{
    font-size: medium;

}